html {
}

body {
    height: 100vh;
    margin: 0px;
}
.box {
    background-color: #000;
 }
#wrap {
    overflow: hidden;
    height: 100%;
    display: flex;
}
#list {
    flex: 1;
    background-color: #aaa;
    margin-bottom: 45px;
}
#memoBox{
    flex: 3;
    background-color: #555;
    margin-bottom: 45px;
}
#memo {
    font-size: 150%;
    width: 100%;
    height: 100%;
}
#cmdLineBox {
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: 100%;
    background-color: #006;
}
#cmdLineBox > input {
    font-size: 150%;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;
    background-color: #32c4ff;
}

@media screen and (max-width: 320px) and (max-width: 480px) {
    .box {
    width: 320px;
    height: 480px;
    }
}
